:root {
  --background-colour: #fffbdf;
}

html {
  background-color: var(--background-colour);
}

#root {
  background-color: var(--background-colour);
}

.mainCard {
  width: 600px;
  margin-top: 50px;
}

.temp {
  font-weight: bolder;
}

.feels-like {
  font-weight: bold;
}

.weather {
  text-transform: capitalize;
  font-style: italic;
}

.powered-by {
  font-size: smaller;
}

.last-updated {
  font-size: smaller;
  color: gray;
  text-align: center;
}
